<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOGiT</title>
  </head>
  <body class="min-h-screen bg-gray-900">
    <% if (adminLoggedIn) { %>
      <%- include('admin/header') %>
    <% } else if (userLoggedIn) { %>
      <%- include('user/header') %>
    <% } else { %> 
      <%- include('header') %>
     <% } %>
    
    <br><br>
    <%- include('blogCard.ejs') %>
    <%- include('footer') %>
  </body>
</html>